<!DOCTYPE html>
<html>
<head>
	<title>OCR Image Scanner</title>

	<!--CSS files-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/complete.css') }}">

	<!--Javascript files-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
	<div style="margin-left: 15px; margin-right: 15px;">
		<a class="btn-floating btn-large waves-effect waves-light white" href="/"><i class="material-icons" style="color: #232741;">arrow_back</i></a>
		<h1 class="heading center">OCR Image Scanner</h1>
	</div>
	<div class="row center" style="margin-bottom: 0;">
		<div class="col s12 m6 l6"><h3 class="heading">Original</h3><img src='{{ image_unprocessed }}'/></div>
		<div class="col s12 m6 l6"><h3 class="heading">Processed</h3><img src='{{ image_processed }}'/></div>
	</div>
	<div class="container center">
		<h2 class="heading left-align">Scanned text:</h2>
		<div class="image-text-cover"><div class="image-text">{{ display }}</div></div>
	</div>
</body>
</html>